button {
    width: 6em;
    height: 9em;
    color: rgb(15, 15, 14);
    cursor: pointer;
    border-color: rgb(76.185% 87.565% 53.141%);
    background-color:rgb(76.185% 87.566% 53.141%);
    border-radius: 8px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}

.btn:hover{
    transition-duration: 0.7s;
    background-color: rgb(161, 224, 35);
    box-shadow: 2em;

}

#MyLabel{
    color: black;
    background-color:rgb(76.185% 87.565% 53.141%);
    border: 2px;
    column-width: 2em;
    border-radius: 3px;
    min-width: 327px;
    min-height: 1.5em;
    display: inline-block;
    font-display:inherit;
    margin: 100px;
    margin-bottom: 5px;
    font-size: 1.2em;
    justify-content: center;
    box-shadow: 3em;
    margin-top: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom right,rgb(14.616% 54.55% 0%), rgb(99.15% 92.271% 75.252%));
}
div{
    display: flex;
    justify-content: center;
    align-items: stretch;

}
.btn{
    margin: 1.5px;
    margin-bottom: 1.5px;
}
.btn2{
    background-color:rgb(179, 219, 97);
    margin: 1.5px;
    margin-bottom: 1.5px;


}
.btn2:hover{
    transition-duration: 0.4s;
    background-color: rgb(169, 224, 60);
    box-shadow: 4em;

}
